.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.review-item {
  width: 100%;
}

.review {
  &-caption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
  }
  &-name {
    font-size: 18px;
    margin-bottom: 0px
  }
  &-date {
    margin-left: 12px;
    font-size: 14px;
    color: var(--bs-gray-700);
  }
}
