.phone-confirmation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;

  & > p {
    color: var(--bs-gray-600);
    margin-bottom: 12px;
    text-align: center;
  }

  &__countdown {
    margin-left: 3px;
  }

  &__footer {
    width: 100%;
    margin-top: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
      &:not(:last-of-type) {
        margin-bottom: 6px;
      }
    }
  }

  form {
    margin-top: 12px;
    width: 100%;
  }
}

#phone-confirmation {
  backdrop-filter: blur(6px);

  .popup-header {
    height: 62px;
  }

  .popup-close-btn {
    display: none;
  }

  .popup-body {
    width: 385px;
    height: 280px !important;
  }
}

@media screen and (max-width: 390px) {
  .phone-confirmation {
    padding: 0px;

    & > p {
      font-size: 15px;
      margin-bottom: 24px;
    }

    &__footer {
      margin-top: 24px;

      button {
        width: 280px;
      }
    }
  }
}
