#column-center {
  background-image: url(../../../../assets/images/chat-content.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  .sidebar-footer {
    padding: 0;
    background-color: transparent;
  }
  .header-actions {
    .open-info {
      display: none;
    }
  }
}

.chat-content-header {
  border-bottom: 1px solid var(--bs-gray-300);
  &.support {
    .header-actions .open-info {
      display: none !important;
    }
  }
  .dialog-title,
  .dialog-subtitle {
    height: 21px;
  }
  .dialog-subtitle {
    font-size: 14px;
  }
  .user-caption span {
    line-height: 21px;
  }
  span.online {
    position: relative;
    padding-left: 12px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: var(--bs-primary);
    }
  }
}

.conversation-content {
  padding: 0 8px;
}

.chat-content-inner {
  padding: 10px 0;
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-content {
  .progress-bar-loader {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 99;
    border-radius: 0;
    background-color: rgba(#06f, 0.3);
    display: none;
  }
  &.loading {
    .progress-bar-loader {
      display: block;
    }
  }
}

.chat-content-start {
  background-color: #fff;
  padding: 4px 0;
}

.header-info-back {
  display: none;
  transform: translateX(-8px);
}

.chat-content-email-notifications {
  .popup-body {
    padding: 24px;
    border-radius: 24px;
    position: relative;
  }

  .dc-input_wrapper {
    width: 100%;
  }

  .dc-input {
    min-height: unset;
  }

  .popup-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .form-control {
    width: 100%;
    margin-bottom: 0;
    flex: 1;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
  }

  &__description {
    font-size: 15px;
    font-weight: 400;
    color: #666;
    margin-bottom: 20;
    max-width: 80%;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    text-align: right;
    min-width: 90px;
    margin-right: 16px;
    height: 44px;
  }
}

@media (max-width: 1268px) {
  #column-center {
    .header-actions {
      .open-info {
        display: unset;
      }
    }
  }
}

@media (max-width: 768px) {
  #column-center {
    .header-info-back {
      display: unset;
    }
  }
}

@media (max-width: 550px) {
  .chat-content-email-notifications .popup-body {
    padding: 16px;
    border-radius: 16px;
    margin: 0 5px;
    height: unset !important;
  }
}
