.dialog-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  padding: 8px;
  &:hover {
    background-color: var(--bs-gray-200);
  }
  &.active {
    background-color: var(--bs-primary);
    .dialog-avatar.is-online::after {
      background-color: #fff;
      border-color: var(--bs-primary);
    }
    .dialog-title {
      color: var(--bs-gray-100);
    }
    .dialog-subtitle,
    .chat-lastmsg-action,
    .dialog-title-details .message-time {
      color: var(--bs-gray-300);
    }
  }
}

.dialog-title,
.dialog-subtitle {
  height: 27px;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
}

.dialog-title {
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.dialog-subtitle {
  color: var(--bs-gray-700);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user-last-message,
.user-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialog-bubble {
  height: 24px;
  width: 24px;
  min-width: 24px;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--bs-primary);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-caption {
  padding: 0 8px;
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  span {
    line-height: 27px;
  }
}

.dialog-title-details {
  .message-time {
    font-size: 12px;
    font-weight: normal;
    color: var(--bs-gray-700);
  }
}

.chat-lastmsg-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat-lastmsg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  svg {
    width: 16px;
    height: 16px;
  }
}

.chat-lastmsg-action {
  .chat-lastmsg-icon {
    transform: translateY(-1px);
  }
  &.high {
    color: var(--bs-danger);
  }
  &.medium {
    color: var(--bs-warning);
  }
}

.dialog-item.skeleton {
  pointer-events: none;

  .dialog-avatar,
  .dialog-title,
  .dialog-subtitle {
    @include skeleton-loading;
  }

  .dialog-title,
  .dialog-subtitle {
    height: 20px;
    border-radius: 6px;
  }

  .dialog-title {
    width: 60%;
    margin-bottom: 12px;
  }
}
