@import "antd/lib/date-picker/style";

.ant-picker {
  width: 100%;
  &.dc-picker {
    border-radius: 10px;
    border: 2px solid var(--bs-gray-300);
    transition: 0.2s;
    &:hover {
      border-color: var(--bs-primary);
      border-right-width: 2px !important;
      box-shadow: unset;
    }
    &.ant-picker-focused {
      border-width: 2px !important;
      border-color: var(--bs-primary);
      box-shadow: 0 0 0 0.2rem rgba(#06f, 0.2);
    }
    &.ant-picker-disabled {
      border-color: var(--bs-gray-300);
      box-shadow: unset;
      background-color: var(--bs-gray-200);
      cursor: auto;
      input {
        cursor: auto;
      }
    }
  }
  &.ant-picker-md {
    min-height: 47px;
    padding: 8px 12px;
  }
}

.dc-picker-popup {
  .ant-picker-panel-container {
    border-radius: 10px;
    box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 24%);
  }
  .ant-picker-time-panel-column {
    min-width: 90px;
    overflow-y: scroll;
  }
}

.ant-picker-range .ant-picker-active-bar {
  background-color: var(--bs-primary);
}

.ant-picker-footer {
  .ant-picker-ok {
    .ant-btn {
      background-color: var(--bs-primary);
      border-radius: 8px;
      min-width: 64px;
      &:disabled {
        background-color: var(--bs-gray-200);
      }
      & > span {
        font-size: 0;
        &::after {
          font-size: 14px;
          content: "Aplică";
        }
      }
    }
  }
}

.ant-picker-ranges {
  padding: 0 8px;
}
