.message-bar-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  max-width: 728px;
  margin: 12px auto 12px;
  padding: 0 12px;

  .dc-textarea {
    max-width: unset;
    border: none !important;
    box-shadow: none !important;
    padding: 12px 16px 12px 16px;
    border-radius: 24px;
    max-height: 280px;
  }
}

.message-bar-input {
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 24%);
  border-radius: 30px;
  &.with-attach {
    .dc-textarea {
      padding-left: 50px;
    }
  }
  .ant-input {
    border-radius: 10px;
    border-width: 2px !important;
    padding: 9px 16px 9px 16px;
    border-color: transparent;
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(#06f, 0.2);
    }
  }
}

.message-bar-attach {
  position: absolute;
  z-index: 78;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.message-bar-send {
  margin-left: 10px;
  width: 47px;
  height: 47px;
  min-height: 47px;
  min-width: 47px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 1px rgb(0 0 0 / 24%);
  background-color: #fff;
  &:disabled {
    box-shadow: unset;
  }
}
