.message {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  max-width: 480px;
  transition: box-shadow 0.5s;
  position: relative;
}

.message-edit-icon {
  position: absolute;
  top: 100%;
  left: 8px;
  transform: translate(0, -50%);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  &.dc-btn-icon {
    height: 23px;
    width: 23px;
    min-height: 26px;
    min-width: 26px;
    z-index: 9;
    svg {
      width: 13px;
      height: 13px;
      color: var(--bs-primary);
    }
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  &.out {
    align-self: flex-end;
    align-items: flex-end;
  }
  &.in {
    align-self: flex-start;
    align-items: flex-start;
  }
  &.center {
    align-self: flex-start;
    align-items: flex-start;
    .message-content {
      padding: 6px 12px;
    }
    .message {
      border-radius: 4px;
      font-size: 14px;
      line-height: 1.1;
      border-left: 4px solid transparent;
      box-shadow: unset;
      font-style: italic;
      position: relative;
      &.info {
        border-color: var(--bs-primary);
      }
      &.info-warn {
        border-color: var(--bs-warning);
      }
      &.info-success {
        border-color: var(--dc-meet-color);
      }
    }
    .message-time {
      display: none;
    }
  }
}

.message-file {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
  border-radius: 12px;
  overflow: hidden;
  max-width: 320px;
  max-height: 400px;
  margin-top: 4px;
  &.out {
    border-top-right-radius: 4px;
    &:not(:last-of-type) {
      border-bottom-right-radius: 4px;
    }
  }
  &.in {
    border-top-left-radius: 4px;
    &:not(:last-of-type) {
      border-bottom-left-radius: 4px;
    }
  }
  img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}

.message.in {
  align-self: flex-start;
  background-color: lighten(#06f, 5);
  border-bottom-left-radius: 4px;
  color: #fff;
  &.new {
    box-shadow: 0 0 0 0.2rem rgba(#06f, 0.25), 0 0 0 0.4rem rgba(#06f, 0.15);
  }
}

.message.out {
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.message-content {
  padding: 6px 12px;
  position: relative;
  white-space: pre-line;
}

.message .message-time {
  visibility: hidden;
  font-size: 12px;
  user-select: none;
  line-height: 1;
  vertical-align: middle;
  pointer-events: none;
  display: inline-flex;
  z-index: 1;
  height: 12px;
  direction: ltr;
  float: right;
  padding-right: 8px;
  margin-left: -4px;
  .inner {
    pointer-events: all;
    position: absolute;
    bottom: 3px;
    right: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    padding: inherit;
    white-space: nowrap;
    height: 12px;
    visibility: visible;
  }
}

.message-meet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-top: 1px solid var(--bs-gray-200);
  background-color: #fff;
}

.meet-caption {
  .title {
    font-size: 15px;
    margin-bottom: 0;
    color: var(--bs-gray-900);
  }
}

.meet-date {
  color: var(--bs-gray-700);
  font-size: 14px;
}

.meet-icon {
  width: 42px;
  height: 42px;
  background-color: rgba(#34a853, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dc-meet-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  svg {
    width: 18px;
    height: 18px;
  }
}

.meet-url {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: var(--bs-primary);
  a {
    background-color: rgba(#06f, 0.1);
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    &:hover {
      background-color: rgba(#06f, 0.2);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }
  svg {
    width: 18px;
    height: 18px;
  }
}

.messages-group-date {
  position: sticky;
  top: 0.25rem;
  padding-bottom: 0.25rem;
  z-index: 2;
  transition: opacity 0.3s ease;
  opacity: 0.99999;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-date-text {
  padding: 4.5px 10px;
  border-radius: 30px;
  background-color: hsla(168.889, 54.8361%, 57.2255%, 0.5);
  color: #fff;
  font-size: 15px;
  text-shadow: 0px 0px 10px rgba(#000, 0.3);
}

.message-edit-container {
  width: 380px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
}

.message-edit-actions {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upload-file-preview.document {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #06f;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
    color: #fff;
  }
}
