.chatlist-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;

  .search-bar {
    width: 100%;
    margin-left: 12px;
  }
}

.logout-item {
  color: var(--bs-red);
  .overlay-item-prefix svg {
    color: var(--bs-red);
  }
}