.message-confirmation__modal {
  .popup-header {
    padding: 16px 30px 8px;
  }

  .popup-body {
    max-height: calc(100vh - 40px);
    width: clamp(300px, calc(100% - 30px), 800px);
    border-radius: 20px;
  }

  .promo-code-form {
    align-items: flex-end;
    padding: 15px 0;

    .form-control {
      width: 100%;
    }

    .form-control-label,
    .form-control-label.is-active {
      color: #000;
      font-weight: 500;
    }
  }

  .promo-code-row {
    font-size: 16px;
  }

  .confirmation-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .confirmation-terms__to-pay {
    font-weight: 500;
  }
}

.message-confirmation__content {
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  padding: 10px 40px 30px;

  .confirmation-section .dc-description-row-label {
    max-width: 270px;
  }

  .confirmation-actions {
    .dc-btn-primary {
      width: 100%;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .message-confirmation__modal {
    .popup-body {
      max-height: 85vh;
    }
    .popup-header {
      padding: 14px 14px 8px;
    }

    .confirmation-terms {
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

    .confirmation-terms__to-pay {
      margin-top: 10px;
    }
  }

  .message-confirmation__content {
    padding: 8px 14px 20px;
  }
}
