.phone-confirmation {
  padding: 50px 20px;
  background-color: #f2f2f2;
  border-radius: 10px;

  &__content {
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    .dc-btn {
      padding: 0 5px;
    }
  }

  &__footer {
    text-align: center;
    margin-top: 20px;

    p {
      margin: 0;
    }
  }

  &__pin-input {
    width: 59px !important;
    height: 57px !important;
    margin-right: 10px;
    border-radius: 6px;

    background-color: #fff !important;

    border: unset !important;
    outline: none;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(#e81f41, 0.2) !important;
    }
  }
}

.phone-confirmation__edit-form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;

  .form-control {
    width: 100%;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 520px) {
  .phone-confirmation {
    &__header {
      h4 {
        font-size: 16px;
        margin-right: 8px;
      }

      .dc-btn {
        font-size: 12px;
      }
    }

    &__footer {
      p {
        font-size: 14px;
      }
    }

    .pincode-input-text {
      width: 40px !important;
    }
  }

  .phone-confirmation__edit-form {
    flex-direction: column;

    .dc-btn {
      width: 100%;
    }

    .form-control {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem !important;
    }
  }
}
