#column-right {
  .dialog-avatar {
    align-self: flex-start;
    img {
      --img-w: 100px !important;
      --img-h: 100px !important;
    }
  }
  .doc-info-caption .name {
    font-size: 20px;
  }
}
