.tabs-slider {
  min-width: 100%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.tabs-pane {
  display: flex;
  flex-direction: column;
  grid-row-start: 1;
  grid-column-start: 1;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.tabs-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-bottom: 2px solid var(--bs-gray-200);
}

.tabs-line .tabs-line-item:not(:last-of-type) {
  margin-right: 24px;
}

.tabs-line-item {
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s;
  outline: none;
  color: var(--bs-gray-700);
  min-width: 96px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    color: lighten(#06f, 15%);
  }
  &.is-active {
    color: var(--bs-primary);
  }
}

.tabs-line-bar {
  position: absolute;
  left: 0;
  top: calc(100% - 2px);
  border-radius: 2px;
  height: 4px;
  width: 68px;
  background-color: var(--bs-primary);
  transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1), left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

// _S_ :: Sidebar animations
// _T_ :: Tabs Animations
// _Y_ :: Y Animation

.tabs-pane {
  &.tab-exit-animated {
    display: none !important;
  }
}

.tabs-slider[data-animation="sidebar"] {
  .tabs-pane {
    z-index: 1;
    &.tab-pane-in {
      animation-name: _S_tabPaneIn;
    }
    &.tab-pane-in-prev {
      animation-name: _S_tabPaneInPrev;
    }
    &.tab-pane-out {
      animation-name: _S_tabPaneInPrev;
      animation-direction: reverse;
    }
    &.tab-pane-out-prev {
      animation-name: _S_tabPaneIn;
      animation-direction: reverse;
    }
  }
}

.tabs-slider[data-animation="tabs"] {
  .tabs-pane {
    &.tab-pane-in {
      animation-name: _T_tabPaneIn;
    }
    &.tab-pane-in-prev {
      animation-name: _T_tabPaneInPrev;
    }
    &.tab-pane-out {
      animation-name: _T_tabPaneInPrev;
      animation-direction: reverse;
    }
    &.tab-pane-out-prev {
      animation-name: _T_tabPaneIn;
      animation-direction: reverse;
    }
  }
}

.tabs-slider[data-animation="y-animation"] {
  .tabs-pane {
    &.tab-pane-in {
      animation-name: _Y_tabPaneIn;
    }
    &.tab-pane-in-prev {
      animation-name: _Y_tabPaneInPrev;
    }
    &.tab-pane-out {
      animation-name: _Y_tabPaneInPrev;
      animation-direction: reverse;
    }
    &.tab-pane-out-prev {
      animation-name: _Y_tabPaneIn;
      animation-direction: reverse;
    }
  }
}

@keyframes _S_tabPaneIn {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes _S_tabPaneInPrev {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes _T_tabPaneIn {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes _T_tabPaneInPrev {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes _Y_tabPaneIn {
  0% {
    transform: translate3d(0, 20%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes _Y_tabPaneInPrev {
  0% {
    transform: translate3d(0, -20%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
