.form-control {
  position: relative;
  margin-bottom: 20px;
  // margin-top: 4px;
  &.invalid {
    .form-control-label {
      color: #dc3545;
    }
    .dc-input,
    .dc-textarea {
      border-color: var(--bs-danger);
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(#dc3545, 0.2);
      }
    }
    .react-select-container {
      .react-select__control {
        &:hover {
          border-color: var(--bs-danger);
        }
        border-color: var(--bs-danger);
        &--is-focused {
          border-color: var(--bs-danger);
          box-shadow: 0 0 0 0.2rem rgba(#dc3545, 0.2);
        }
      }
    }
  }
}

.form-control-label {
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 0;
  transform: translateX(12px);
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  background-color: #fff;
  z-index: 2;
  transition: 0.2s top, 0.2s padding, font-weight 0s 0.1s, 0.2s transform;
  transform-origin: left center;
  color: #9e9e9e;
  pointer-events: none;
  max-width: 100%;
  @include ellipsis();
  &.is-active {
    top: 0;
    padding: 0 2px;
    font-weight: 500;
    transform: translate(12px, -50%) scale(0.85);
    color: var(--bs-primary);
  }
  &.input-number-prefix {
    left: 50px;
  }
}

.form-control.disabled {
  .form-control-label {
    display: none;
  }
}

.form-item-error {
  display: block;
  color: var(--bs-danger);
  font-size: 13px;
  padding: 4px 0 0 4px;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  line-height: 1;
  &.enter-active {
    animation-name: errorIn;
  }
  &.exit-active {
    animation-name: errorIn;
    animation-direction: reverse;
  }
}

.form-item-error-placeholder {
  height: 0px;
  transition: height 0.2s;
  &.enter-active {
    height: var(--err-height);
  }
  &.enter-done {
    display: none;
  }
  &.exit {
    height: var(--err-height);
  }
  &.exit-active {
    height: 0px;
  }
  &.exit-done {
    display: none;
  }
}

@keyframes errorIn {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
