#investigation-form {
  .popup-body {
    width: 600px;
    height: 778px;
    max-height: 100%;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: stretch;
  }
  .dc-input, .react-select-container {
    max-width: unset;
  }
}

#add-investigation {
  padding: 8px 4px 8px 0;
}

@media only screen and (max-width: 576px) {
  #add-investigation {
    .flex-group {
      gap: 0 !important;
    }
  }
}