#select-doc,
#doc-select-doc {
  .popup-body {
    width: 560px;
    height: 800px;
    max-height: 100%;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: stretch;
  }
}

@media only screen and (max-height: 800px) {
  #select-doc,
  #doc-select-doc {
    .popup-body {
      height: 100%;
    }
  }
}
