.auth-layout {
  min-height: 100%;

  &__sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
  }

  &__slider {
    background-image: url(../../assets/images/auth-layout-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7rem 2rem;
    height: 100%;
    min-height: 100%;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a,
    a:visited {
      color: var(--bs-primary);
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &__main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }
}

.auth-layout__slider-card {
  position: absolute;
  bottom: 5%;
  left: 7.5%;
  right: 7.5%;
  padding: 4rem 3.5rem;
  background-color: rgba(#fff, 0.01);
  backdrop-filter: blur(22px);
  color: #fff;
  border-radius: 20px;
  overflow: hidden;

  h3 {
    color: #fff;
  }

  .slider-card {
    &__descrpiption {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 4rem;
    }

    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 20px;
      margin: 0;
    }
  }
}

.auth-layout__green-btn {
  background-color: #4bb34b;

  &:hover {
    background-color: #3a9a3a;
  }
}

.form-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  .dc-btn,
  a {
    flex: 1;
    display: block;
  }
  a {
    color: var(--bs-primary) !important;
    text-align: right;
    padding-left: 12px;
    white-space: nowrap;
  }
}

.login-media {
  display: flex;
  align-items: center;
  margin-top: 24px;

  a {
    flex: auto;
    padding-left: 0;
  }
}

.login-media__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  border-radius: 10px;
  padding: 8px;
  border: none;
  outline: none;
  text-decoration: none !important;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--bs-gray-300);
  }

  &.is-google {
    background-color: #ffe7eb;
    width: 100%;

    &:hover {
      background-color: #f8cdd1;
    }

    svg {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .auth-layout__slider-card {
    padding: 3rem 2.5rem;

    h3 {
      color: #fff;
    }

    .slider-card {
      &__descrpiption {
        font-size: 24px;
        margin-bottom: 2.5rem;
      }

      &__title {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .auth-layout {
    &__sections {
      grid-template-columns: 1fr;
    }

    &__slider {
      display: none;
    }

    &__content {
      max-width: 600px;
      padding: 3rem 2rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .form-bottom {
    margin-top: 24px;
  }
}
