@import "antd/dist/antd.css";
@import "normalize.css/normalize.css";
@import "bootstrap/dist/css/bootstrap-reboot.min.css";
@import "bootstrap/dist/css/bootstrap-utilities.min.css";
@import "./mixins.scss";
@import "./packages/";
@import "./components/";
@import "./modules/";
@import "./layouts/";
@import "./main.scss";

:root {
  --bs-primary: #06f;
  --bs-primary-hover: #0058db;
  --bs-danger-hover: #ca2333;
  --bs-primary-disabled: #408cff;
  --bs-warning: #ffa800;
  --dc-border-color: #dfe1e5;
  --dc-meet-color: #34a853;
}

input,
textarea,
select {
  font-size: 16px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button,
button[type="button"],
button[type="reset"],
button[type="submit"] {
  -webkit-appearance: button;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(#000, 0.2);
}

html:not(.is-safari):not(.is-ios) ::-webkit-scrollbar-thumb {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a {
  color: unset;
  text-decoration: none;
  &:hover,
  &:visited,
  &:active {
    color: unset;
    text-decoration: none;
  }
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: stretch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

strong {
  font-weight: 500;
}

[class$="fa-secondary"] {
  opacity: 0.4;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text-left {
  text-align: left !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dc-spinner {
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
    animation: spin 0.75s infinite linear;
  }
}

.remove-action {
  svg {
    color: var(--bs-danger);
  }
}

.accept-action {
  svg {
    color: var(--bs-primary);
  }
}

.full-page-loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
  svg {
    width: 56px;
    height: 56px;
  }
  &.exit-active {
    opacity: 0;
  }
}

.scrollable {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100%;
  transform: translateZ(0);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-overflow-scrolling: touch;
  &.scrollable-y {
    overflow-y: auto;
    overflow-y: overlay;
  }
}

.lazy-load-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.dialog-avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    object-fit: cover;
    border-radius: inherit;
    border-radius: 50%;
  }
  &.is-online {
    &::after {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      display: block;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: var(--bs-primary);
      bottom: 0;
      right: 0;
    }
  }
}

mark.dc-mark {
  font-weight: 500;
  background-color: transparent;
  color: var(--bs-primary);
}

.no-animation {
  transition: unset !important;
}

img[data-src] {
  filter: blur(0.1em);
}

img {
  filter: blur(0em);
  transition: filter 0.2s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
