#meet-form {
  .popup-body {
    width: 600px;
    height: 1000px;
    margin: 10px 0;
    max-height: 97.5%;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    max-height: stretch;
  }

  .tabs-pane {
    margin: -16px 0;
  }
}

#meet-form {
  .message-form__time-selection {
    .time-selection__time {
      padding: 52px 20px 0;
    }
  }
}

@media screen and (max-width: 550px) {
  #meet-form {
    .message-form__time-selection {
      flex-direction: column;

      .time-selection__time {
        padding: 20px 15px 0;
        flex-wrap: wrap;
        display: flex;
      }
    }
  }
}
